@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body{
    display: block;
    background-color: rgb(241, 241, 241);
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}

.phonenavbar{
    display: block;
    height: 100px;
}

.container{

    background-color: white;
    gap: 10px;
    position: fixed;
    display: grid;
    position:relative;
    border-radius: 20px;
    right: 20%;
    transform: translate(50%,15%);
    padding: 30px;
    overflow: scroll;
    width: 70%;
    height: 900px;
    
}
.container::-webkit-scrollbar {
    background-color: transparent;
}
.btn{
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    width: 100%;
    list-style: none;

}

#tenseListButton{
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
    text-align: center;
    list-style-type:  none;

}