*{
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
    flex-direction: column;
    overflow-x: hidden;
    display: flex;
}

.topnav {
    background-color: #FFFF;
    overflow: hidden;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    
}  

.boxContainer{
    position: absolute;
    right: 40%;
    align-items: center;
    justify-content: center;

}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box {
    background-color: aqua;
    width: 400px;
    height: 500px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.box.show{
    transform: translate(0);
}

#logoimg{
    position:absolute;
    left: 10rem;
    width: 180px;
    height:100px;
    display:inline;
}

#topnavbar a{
    float: right;
    color: black;
    text-align: center;
    padding: 20px 14px;
    text-decoration: none;
    margin: 15px 0px 0px 20px;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color:  rgb(241, 241, 241);
    color: black;
}