@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body{
    background-color: rgb(241, 241, 241);
}

.phonenavbar{
    display: block;
    height: 100px;
}

textarea{
    resize: none;
}

.container{
    
    background-color: white;
    border-radius: 5px;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:focus{
    border-color: none;
}

#inputText{

    forced-color-adjust: none;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    margin: 20px;
    height: 250px;
    float: left;
}

#inputText2{

    background-color: rgb(241, 241, 241);
    border-color: none;
    font-size: 20px;
    text-align: left;
    border-radius: 5px;
    margin: 20px;
    width: 350px;
    height: 250px;
    float: right;

}

#translate{
    position: absolute;
    top: 48%;
    left: 40%;
    background-color: rgb(175, 175, 175);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
}

@media (max-width:768px){
    .container{
        width: 90%;
        height: 49%;
    }
    #inputText{
        font-size: 17px;
        margin: 20px;
        height: 200px;
        width: 90%;
        
    }
    #inputText2{
        font-size: 17px;
        margin: 20px;
        height: 200px;
        width: 90%;
        
    }
    textarea:focus{
        border-color: none;
    }
}