@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body{
    background-color: rgb(241, 241, 241);
    flex-direction: column;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    
}

.wrapper{
	width: 1000px;
	margin: 150px auto;
}

.phonenavbar{
    display: block;
    height: 100px;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
    position: relative;
    
}


.grid-view .view_item {
	display: inline-block;
    border: 1px solid #e2efe1;
    width: 230px;
    height: 80px;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    
    
}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.title{
    font-size: 16px;
    font-weight: 700;
}

.content{
    font-size: 16px;
    text-align: end;
}

@media (max-width:768px) {
    .grid-view .view_item{
        display: inline-block;
        border: 1px solid #e2efe1;
        width: 110px;
        height: 50px;
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
        overflow: scroll;
    }
    .grid-view::-webkit-scrollbar {
        background-color: transparent;
        width: 2px;
    }
    .wrapper{
        width: 95%;
    }
    #topnavbarimg{
        display: block;
        position: relative;
        right: 20%; 
    }
}